.env
client.env
local.env
/public/results.json
#/node_modules
#/public/hot
#/public/storage
#/storage/*.key
#/vendor
/.idea
#/.vscode
#/.vagrant
#Homestead.json
#Homestead.yaml
#npm-debug.log
#yarn-error.log
#127.env
#.env.swap
#.phpunit.result.cache
node_modules

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
